{% extends "layout.html" %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>La Ultima Migaja</span></h2>
            <p class="animate__animated animate__fadeInUp">Somos una empresa dedicada a la venta de Hardware,
              computadoras, laptops, impresoras, monitores, componentes.
            </p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
          <img src="static/img/La ultima migaja.png" width="200px" height="200px" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Precios bajos, gran variedad de productos, seguridad al momento de comprar, son parte de la filosofia de
            La Ultima Migaja
            La rapidez y calidad de servicio que nos distingue no es solamente para consumidores finales, sino también
            para empresas que buscan soluciones rápidas y efectivas.
            <span>Y con envio gratis a toda la Republica Mexicana</span>
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">
      <h3>Proveedores</h3>
      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="static/img/proveedores/proveedor-1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="static/img/proveedores/proveedor-2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="static/img/proveedores/proveedor-3.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="static/img/proveedores/proveedor-4.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="static/img/proveedores/proveedor-5.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="static/img/proveedores/proveedor-6.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <h3>Mas de Nosotros</h3>
      <div class="row">
        <div class="col-md-4">
          <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="#">Mison</a></h4>
            <p>Brindar a nuestros clientes galletas artesanales de calidad no en cantidad</p>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="#">Vision</a></h4>
            <p>Ser la empresa mas respetada, querida y cotizada de nuestro mercado, ademas de ofrecer las galletas de mejor sabor y calidad</p>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-motherboard-fill"></i>
            <h4><a href="#">Valores</a></h4>
            <p>
              - Integridad.<br>
              - Pasión<br>
              - Respeto<br>
              - Trabajo en equipo<br>
              - Innovación<br>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

</main><!-- End #main -->



{% endblock %}